
@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
}
.App {
  text-align: center;
  margin: 0;
}
h3,h5,h4{
  font-family: 'Montserrat', sans-serif;
}
p,a ,li{
  font-family: 'Open-Sans' , sans-serif;
}